[run]
source =
    demo
    django_dynamic_model_validation
    dynamic_validator
omit =
    .tox
    demo/apps.py
    django_dynamic_model_validation/wsgi.py
    setup.py
    manage.py
    dynamic_validator/apps.py
    dynamic_validator/tests.py
branch = True

[report]
exclude_lines =
    no cov
    no qa
    noqa
    pragma: no cover
    if __name__ == .__main__.:
