[run]
source = .
omit =
    demo/apps.py
    django_dynamic_model_validation/wsgi.py
    setup.py
    manage.py
    dynamic_validator/apps.py
branch = True

[report]
exclude_lines =
    no cov
    no qa
    noqa
    pragma: no cover
    if __name__ == .__main__.:
