# added by check_manifest.py
prune test*.py
prune dynamic_validator/tests.py
recursive-include dynamic_validator *.py
include *.py
exclude *.toml
include *.txt
exclude *.xml
exclude .bumpversion.cfg
exclude .coveragerc
exclude Makefile
exclude pytest.ini
exclude tox.ini
prune demo
exclude manage.py
exclude dynamic_validator/tests.py
recursive-exclude django_dynamic_model_validation *.py
include LICENSE-APACHE
include LICENSE-MIT
include README.rst
