# added by check_manifest.py
include *.py
exclude *.toml
include *.txt
exclude *.xml
exclude .bumpversion.cfg
exclude .coveragerc
exclude Makefile
exclude pytest.ini
exclude tox.ini
recursive-exclude demo *.py
exclude dynamic_validator/tests.py
recursive-exclude django_dynamic_model_validation *.py
include LICENSE-APACHE
include LICENSE-MIT
include README.rst
recursive-include dynamic_validator *.py *.html *.css *.js
